<div class="modal fade" id="newHospitalModal" tabindex="-1" aria-labelledby="newHospitalModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_with model: (@hospital || Hospital.new), url: child_hospitals_path(@current_child), method: :post, local: true do |f| %>
        <div class="modal-header">
          <h5 class="modal-title" id="newHospitalModalLabel">病院を追加</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
        </div>

        <div class="modal-body">
          <% if flash[:hospital_errors] %>
            <div class="alert alert-danger">
              <ul class="mb-0">
                <% flash[:hospital_errors].each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <!-- ✅ child_idをhiddenで送信（保護） -->
          <%= f.hidden_field :child_id, value: @current_child&.id %>

          <div class="mb-3">
            <%= f.label :name, "病院名" %>
            <%= f.text_field :name, value: flash[:hospital_attributes]&.[]("name"), class: "form-control" %>
          </div>

          <div class="mb-3">
            <%= f.label :phone_number, "電話番号" %>
            <%= f.telephone_field :phone_number, value: flash[:hospital_attributes]&.[]("phone_number"), class: "form-control" %>
          </div>
        </div>

        <div class="modal-footer">
          <%= f.submit "追加する", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>