<div class="modal fade" id="newHospitalModal" tabindex="-1" aria-labelledby="newHospitalModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newHospitalModalLabel">病院を追加</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
      </div>

      <div class="modal-body">
        <% if flash[:hospital_errors] %>
          <div class="alert alert-danger">
            <ul>
              <% flash[:hospital_errors].each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <% if @current_child.present? %>
          <%= form_with(model: [@current_child, @hospital], url: child_hospitals_path(@current_child), local: true) do |f| %>
            <%= f.hidden_field :child_id, value: @current_child.id %>
            <div class="mb-3">
              <%= f.label :name, "病院名" %>
              <%= f.text_field :name, class: "form-control" %>
            </div>
            <div class="mb-3">
              <%= f.label :phone_number, "電話番号" %>
              <%= f.telephone_field :phone_number, class: "form-control" %>
            </div>
            <div class="modal-footer">
              <%= f.submit "追加する", class: "btn btn-primary" %>
            </div>
          <% end %>
        <% else %>
          <p class="text-muted">子どもを選択してください。</p>
        <% end %>
      </div>
    </div>
  </div>
</div>