<!DOCTYPE html>
<html>
  <head>
    <title>BloomNote</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    
    <header>
      <nav>
        <% if user_signed_in? %>
          <p><%= current_user.nickname %> さん、ログイン中です</p>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to '新規登録', new_user_registration_path %> |
          <%= link_to 'ログイン', new_user_session_path %>
        <% end %>
      </nav>
    </header>
    
    <main>
      <%= yield %>
    </main>
  </body>
</html>